/* src/App.css */
.app-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; /* Assure que les enfants fixes ne sont pas limités */
  z-index: 1; /* Bas pour ne pas interférer avec les modales */
}

.main-content {
  flex: 1;
  padding-top: 70px;
  position: relative; /* Clarifie le contexte de positionnement */
}

/* Responsivité globale */
@media (max-width: 768px) {
  .app-container {
    padding: 1rem;
  }

  .main-content {
    padding-top: 60px;
  }
}

@media (max-width: 480px) {
  .app-container {
    padding: 0.5rem;
  }

  .main-content {
    padding-top: 50px;
  }
}